body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden;
  background: #fff0f5;
  color: #4b2e2e;
  text-align: center;
}



.scrolling-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}

.scrolling-images {
  display: flex;
  width: max-content;
  height: 100%;
  animation: scrollLeftToRight 60s linear infinite;
}

.scrolling-images img {
  height: 100%;
  width: auto;
  object-fit: cover;
}

/* Movimiento horizontal */
@keyframes scrollLeftToRight {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}



.container {
  z-index: 2;
  position: relative;
  padding: 4rem 2rem;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 5vh auto;
  width: 80%;
  border-radius: 1rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1.2rem;
  line-height: 1.6;
}

.firma {
  margin-top: 2rem;
  font-style: italic;
  font-weight: bold;
}

.corazones {
  z-index: 4;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
  z-index: 0;
}

.corazon {
  position: absolute;
  width: 20px;
  height: 20px;
  background: red;
  transform: rotate(45deg);
  animation: flotar 10s linear infinite;
}

.corazon::before,
.corazon::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background: red;
  border-radius: 50%;
}

.corazon::before {
  top: -10px;
  left: 0;
}

.corazon::after {
  left: -10px;
  top: 0;
}

@keyframes flotar {
  0% {
    bottom: -10px;
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    bottom: 110%;
    transform: translateX(100px);
    opacity: 0;
  }
}
